.metadata {
    margin-top: 2rem;
    @include xs {
        margin-top: 0.5rem;
    }
}

.date, .tags {
    display: inline;
    @include xs {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

.date {
    color: #8C8B88;
    font-style: italic;
}

.tags {
    color: $primary-color;
    font-style: bold;
}

h2  {
    font-size: 3rem;
    font-family: $plex;
    line-height: 4rem;
    padding-top: 0;

    @include less-than-1024 {
        font-size: 2rem;
        line-height: 2.5rem;
        padding-left: 1rem;
        margin-top: 0rem;
        
    }
}

p {
    display: block;
    word-wrap: break-word;
    max-width: 100%;
    padding: 1rem 1rem;

    font-style: $roboto;
    line-height: 2rem;
    text-indent: 2rem;
    @include xs {text-indent: 1rem;}
}

@include md {
    .wp-block-image {
        padding: 1rem;
        margin-bottom: 3rem;

        figure {
            max-width: 80%
        }

        .alignright img {
            float: right;
            transform: rotateZ(3deg);
        }
        .alignleft img {
            float: left;
            transform: rotateZ(-3deg);
        }

        figure.alignright img, figure.alignleft img {
            box-sizing: content-box;
            outline: 0.5rem solid $custom-white;

            border-bottom: 3rem solid $custom-white;
            @include lg { border-bottom: 4rem solid $custom-white;}
                
            box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.68);
        }
    }
}

.wp-block-quote {
    font-style: italic;
    font-family: $plex;
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 2rem;
    p::before, p::after {
        content: "\"";
    }
}

