@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300|Roboto:300&display=swap");
/*
xl
lg
md
sm
xs
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
  text-decoration: none; }

html, body {
  font-size: 18px;
  color: #353535; }
  @media screen and (min-width: 1240px) {
    html, body {
      font-size: 22px; } }

body {
  background-color: #F9F8D7; }

.container {
  margin: auto; }

@media screen and (min-width: 1240px) {
  .container {
    max-width: 1240px; } }

/* position */
.page-header .page-header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  padding: 2rem; }
  @media screen and (min-width: 540px) {
    .page-header .page-header-container {
      padding: 1rem;
      padding-bottom: 0; } }
  @media screen and (max-width: 540px) {
    .page-header .page-header-container {
      justify-content: space-between;
      padding: 0; } }

.page-header .logo-wrapper {
  max-height: 8rem;
  max-width: 8rem;
  overflow: hidden; }
  @media screen and (max-width: 540px) {
    .page-header .logo-wrapper {
      max-height: 6rem;
      max-width: 6rem; } }
  .page-header .logo-wrapper img {
    width: 100%;
    height: 100%; }

.page-header .site-title {
  margin: 1rem;
  text-align: center; }

.page-header .hamburger {
  display: none; }
  @media screen and (max-width: 540px) {
    .page-header .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; } }

.page-header .nav-container {
  display: flex;
  justify-content: end; }
  @media screen and (max-width: 540px) {
    .page-header .nav-container {
      display: none; } }
  .page-header .nav-container ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center; }

@media screen and (max-width: 540px) {
  .page-header .donation-button {
    display: none; } }

.page-header #hamburgerMenu {
  display: none; }
  .page-header #hamburgerMenu.active {
    display: flex;
    justify-content: end; }
    .page-header #hamburgerMenu.active ul {
      margin-top: 1rem;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end; }

/* Decoration */
.page-header {
  background-color: #FFFFFF; }
  .page-header .site-title {
    font-size: 4rem;
    font-family: "IBM Plex Serif", serif;
    color: #4C722E;
    font-weight: bolder; }
    @media screen and (min-width: 540px) {
      .page-header .site-title {
        font-size: 3rem; } }
    @media screen and (max-width: 540px) {
      .page-header .site-title {
        font-size: 1.5rem; } }
  .page-header .nav, .page-header .nav-container {
    font-size: 1.5rem; }
    .page-header .nav ul, .page-header .nav-container ul {
      margin: 0.5rem; }
      .page-header .nav ul li, .page-header .nav-container ul li {
        padding: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
        border-bottom: 2px solid transparent; }
        .page-header .nav ul li:hover, .page-header .nav-container ul li:hover {
          cursor: pointer;
          border-bottom: 2px solid #4C722E; }
  .page-header .menu-item {
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    border-bottom: 2px solid transparent; }
    .page-header .menu-item:hover {
      cursor: pointer;
      border-bottom: 2px solid #4C722E; }
  .page-header .hamburger {
    margin: 1rem;
    height: 3rem;
    width: 3rem; }
    .page-header .hamburger:hover .line {
      background-color: #273D18; }
    .page-header .hamburger .line {
      height: 5px;
      background-color: #4C722E;
      width: 100%;
      border-radius: 0.5rem; }

.header-divider {
  height: 1px;
  background-color: #353535;
  margin: auto; }
  @media screen and (min-width: 540px) {
    .header-divider {
      width: calc(100% - 8rem); } }
  @media screen and (max-width: 540px) {
    .header-divider {
      width: 100%; } }

.donation-button {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #353535;
  border-bottom: 4px solid #273D18;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 540px) {
    .donation-button {
      font-size: 1rem; } }
  .donation-button.big {
    font-size: 3rem;
    border-bottom-width: 11px; }
    @media screen and (max-width: 540px) {
      .donation-button.big {
        font-size: 2rem;
        border-bottom-width: 7px; } }
  .donation-button:hover {
    cursor: pointer; }

section {
  margin-top: 1rem; }
  @media screen and (min-width: 540px) {
    section {
      margin-top: 2rem; } }

section.info {
  display: flex; }
  @media screen and (max-width: 540px) {
    section.info {
      flex-direction: column; } }
  section.info .image {
    padding: 1rem;
    display: flex;
    align-items: center; }
    @media screen and (min-width: 540px) {
      section.info .image {
        width: 50%;
        padding: 2rem; } }
    section.info .image img {
      width: 100%; }
      @media screen and (min-width: 540px) {
        section.info .image img {
          border: 0.5rem solid #FFFFFF;
          border-bottom: 4rem solid #FFFFFF;
          box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.68); } }
  @media screen and (min-width: 540px) {
    section.info.img-align-right {
      flex-direction: row-reverse; } }
  @media screen and (min-width: 540px) {
    section.info.img-align-left > .image > img {
      transform: rotateZ(-3deg); }
    section.info.img-align-right > .image > img {
      transform: rotateZ(3deg); } }
  section.info .info {
    padding: 1rem; }
    @media screen and (min-width: 540px) {
      section.info .info {
        width: 50%;
        padding: 2rem; } }
    section.info .info .header {
      font-family: "IBM Plex Serif", serif;
      font-size: 2rem; }
    section.info .info .content {
      text-indent: 2rem;
      line-height: 2rem;
      font-size: 1rem;
      text-align: justify; }

.homepage-article {
  padding: 1rem; }
  @media screen and (min-width: 540px) {
    .homepage-article {
      padding: 2rem; } }
  .homepage-article .image {
    padding: 1rem; }
    @media screen and (max-width: 540px) {
      .homepage-article .image {
        padding: 1rem; } }
    @media screen and (min-width: 540px) {
      .homepage-article .image {
        width: 50%;
        padding: 2rem;
        float: left;
        transform: rotateZ(-3deg); } }
    .homepage-article .image img {
      width: 100%; }
      @media screen and (min-width: 540px) {
        .homepage-article .image img {
          border: 0.5rem solid #FFFFFF;
          border-bottom: 4rem solid #FFFFFF;
          box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.68); } }
  .homepage-article .title {
    font-size: 2rem;
    font-family: "IBM Plex Serif", serif;
    line-height: 3rem; }
  .homepage-article .content {
    position: relative;
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 2rem;
    font-family: "Roboto", sans-serif;
    text-align: justify; }
    .homepage-article .content .hidden {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 8rem;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #f9f8d7 100%); }

section.team {
  display: flex;
  flex-flow: row wrap; }

.hero-donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #4C722E; }
  .hero-donation .text {
    font-family: "Roboto", sans-serif;
    font-size: 5rem;
    text-align: center;
    color: #FFFFFF; }
    @media screen and (max-width: 540px) {
      .hero-donation .text {
        font-size: 3rem; } }

.team-card {
  width: 50%;
  max-width: 500px;
  padding: 1rem;
  margin-top: 1rem; }
  @media screen and (max-width: 540px) {
    .team-card {
      width: 100%;
      margin: auto; } }
  .team-card .wrapper {
    position: relative;
    min-height: 5rem;
    background-color: #EFECCE;
    border-radius: 1rem;
    box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.68); }
    .team-card .wrapper .info {
      float: right;
      padding-right: 2rem;
      padding-top: 2rem; }
      @media screen and (max-width: 540px) {
        .team-card .wrapper .info {
          padding-right: 1rem;
          padding-top: 1rem; } }
    .team-card .wrapper .name {
      right: 2rem;
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif;
      line-height: 1.5rem;
      text-align: right; }
    .team-card .wrapper .function {
      font-size: 1rem;
      font-style: italic;
      color: #353535;
      opacity: 0.8;
      text-align: right; }
    .team-card .wrapper .avatar {
      float: right;
      padding-right: 2rem;
      margin-top: -2rem;
      transition: ease margin 0.5s; }
      @media screen and (max-width: 540px) {
        .team-card .wrapper .avatar {
          margin-top: 0.5rem; } }
      .team-card .wrapper .avatar img {
        height: 6rem;
        width: 6rem;
        border-radius: 0.75rem; }
        @media screen and (max-width: 540px) {
          .team-card .wrapper .avatar img {
            height: 4rem;
            width: 4rem; } }
    .team-card .wrapper .description {
      height: 0;
      opacity: 0;
      transition: opacity 0.5s;
      transition: max-height 0.5s; }
    @media screen and (min-width: 540px) {
      .team-card .wrapper.active .avatar {
        margin-top: 1rem; }
      .team-card .wrapper.active .description {
        height: auto;
        opacity: 1;
        clear: both;
        padding: 2rem;
        line-height: 2rem;
        transition: opacity 0.3s; } }
    @media screen and (max-width: 540px) {
      .team-card .wrapper.active .avatar {
        margin-top: 0.5rem; }
      .team-card .wrapper.active .description {
        height: auto;
        opacity: 1;
        clear: both;
        padding: 1rem;
        line-height: 1rem;
        transition: opacity 0.3s; } }

footer {
  position: relative;
  min-height: 6rem;
  margin-top: 4rem;
  background-color: #353535;
  color: #FFFFFF;
  font-size: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem; }
  footer * {
    color: inherit; }
  footer ul {
    padding-top: 1rem;
    padding-left: 2rem; }
    footer ul li {
      margin: 0.5rem; }
  @media screen and (min-width: 540px) {
    footer .petot-launcher {
      padding-top: 1rem;
      color: inherit;
      position: absolute;
      right: 1rem;
      bottom: 1rem; } }
  footer img {
    width: 1.5rem;
    height: 1.5rem;
    transform: rotateZ(-45deg);
    color: #FFFFFF; }

.metadata {
  margin-top: 2rem; }
  @media screen and (max-width: 540px) {
    .metadata {
      margin-top: 0.5rem; } }

.date, .tags {
  display: inline; }
  @media screen and (max-width: 540px) {
    .date, .tags {
      font-size: 0.75rem;
      line-height: 1rem; } }

.date {
  color: #8C8B88;
  font-style: italic; }

.tags {
  color: #4C722E;
  font-style: bold; }

h2 {
  font-size: 3rem;
  font-family: "IBM Plex Serif", serif;
  line-height: 4rem;
  padding-top: 0; }
  @media screen and (max-width: 1024px) {
    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      padding-left: 1rem;
      margin-top: 0rem; } }

p {
  display: block;
  word-wrap: break-word;
  max-width: 100%;
  padding: 1rem 1rem;
  font-style: "Roboto", sans-serif;
  line-height: 2rem;
  text-indent: 2rem; }
  @media screen and (max-width: 540px) {
    p {
      text-indent: 1rem; } }

@media screen and (min-width: 540px) {
  .wp-block-image {
    padding: 1rem;
    margin-bottom: 3rem; }
    .wp-block-image figure {
      max-width: 80%; }
    .wp-block-image .alignright img {
      float: right;
      transform: rotateZ(3deg); }
    .wp-block-image .alignleft img {
      float: left;
      transform: rotateZ(-3deg); }
    .wp-block-image figure.alignright img, .wp-block-image figure.alignleft img {
      box-sizing: content-box;
      outline: 0.5rem solid #FFFFFF;
      border-bottom: 3rem solid #FFFFFF;
      box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.68); } }
    @media screen and (min-width: 540px) and (min-width: 1240px) {
      .wp-block-image figure.alignright img, .wp-block-image figure.alignleft img {
        border-bottom: 4rem solid #FFFFFF; } }

.wp-block-quote {
  font-style: italic;
  font-family: "IBM Plex Serif", serif;
  width: 80%;
  margin: auto;
  font-size: 1.5rem;
  line-height: 2rem; }
  .wp-block-quote p::before, .wp-block-quote p::after {
    content: "\""; }

.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity; }

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-2deg); }

/* xs => 540px, md => 1240, lg => oo*/
