.header-divider {
    height: 1px;
    @include md {
        width: calc(100% - 8rem);
    }
    @include xs {
        width: 100%;
    }
    background-color: $custom-black;
    margin: auto;
}

///////////////////////////////////////////////////////////////////////////////////
////////// HEADER POSITION
.pg-hdr {
    background-color: $custom-white;
    padding-bottom: 0.4rem;
    @include mt-md {
        padding:  1rem 1rem 0.2rem;
    }
}

.pg-hdr-cntnr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// LOGO

.logo-wrppr {
    position: relative;
    width: 4rem;
    height: 4rem;
    @include mt-sm {
        width: 6rem;
        height: 6rem;
    }
    @include mt-md {
        width: 8rem;
        height: 8rem;
    }
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    width: 100%;
    height: 100%;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Site title

.site-ttl {
    text-align: center;
    @include mt-sm {
        text-align: left;
    }
    font-size: 2rem;
        @media screen and (max-width: 360px) {
            font-size: 1.3rem;
        }
        @include mt-sm {
            font-size: 4rem;
        }
        @include mt-md {
            font-size: 5rem;
        }
    font-family: $plex;
    color: $primary-color;
    font-weight: bolder;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Hamburger
.brg {
    @include mt-md {display: none;}
    position: relative;

    width: 2.5rem;
    height: 2rem;
    margin-right: 1rem;
}


[class*=ln] {
    position: absolute;
    background-color: $primary-color;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-out, opacity 0.1s;
}


.ln-1 {
    top: 0;
}
.ln-2 {
    top: 50%;
    transform: translateY(-50%);
}
.ln-3 {
    bottom: 0;
}

.brg:hover [class*=ln], .brg.active [class*=ln] {
    background-color: $dark-primary-color;
}
.brg.active {
    .ln-1 {
        top: 50%;
        transform: rotateZ(45deg);
    }
    .ln-2 {
        opacity: 0;
    }
    .ln-3 {
        top: 50%;
        transform: rotateZ(-45deg);
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Navigation du page-header
.pg-hdr {
    .menu {
        display: none;
        @include mt-md {display: flex;}
        justify-content: flex-end;
    }

    .menu-item {
        padding: 0.2rem 0.5rem;
        margin: 0 0.5rem;
        font-size: 1.5rem;
        border-bottom: 2px solid transparent;
        list-style: none !important;

        &.current-menu-item {
            border-bottom: 4px solid $primary-color;
        }

        &:hover:not(.current-menu-item) {
            border-bottom: 2px solid $primary-color;
        }
    }

}

// On mobile, si active

#nvgt-cntnr.active {
    .menu {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }
}