* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}
html, body {
    font-size: 18px;
    @include lg {
        font-size: 22px;
    }
    font-family: $roboto;
    color: $custom-black;
}

body {
    background-color: $wallpaper;
}

/* Petite balise pour savoir ou on est */
.localisation-in-wordpress {
    position: absolute;
    font-size: 12px;
    right: 10px;
}

img {
    width: 100%;
    height: auto;
}