.presentation-card {

    margin-top: 1rem;
    @include mt-xs {
        margin-top: 2rem;
    }

    .presentation-hook {
        margin-left: 2rem;;
        font-family: $plex;
        font-size: 2rem;
    }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// IMAGE dans les presentaitoncard