.team-card {
    cursor: pointer;
    align-self: flex-start;

    .background {
        position: absolute;
        z-index: -2;
        bottom: 15px;
        left: 15px;
        right: 15px;
        height: calc(100% - 4.5rem);
        background-color:  $team-card-background;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 22px 4px rgba(0,0,0,0.68);
    }
    &:hover .background {
        background-color: rgba(239, 236, 206, 0.233);
    }

    .card-header {
        width: 100%;
    }

    .header-container {
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: end;
        padding: 1rem;
    }

    .info {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: end;
        padding-right: 1rem;;

        .name {
            color: $custom-black;
            font-size: 1.5rem;
        }

        .function {
            font-style: italic;
        }
    }

    .avatar-container {
        position: relative;
        width: 6rem;

        .avatar-wrapper {
            position: relative;
            padding-top: 100%;
            overflow: hidden;
            border-radius: 1rem;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            
        }
    }

    .description-container {
        overflow: hidden;
        opacity: 0;
        padding: 0 1rem;
        max-height: 0;
        transition: opacity 0.5s, max-height 0.5s;

        .description {
            padding: 1rem;
            font-size: 1rem;
            font-family: $roboto;
            line-height: 1.5rem;
            text-indent: 2rem;
            text-align: justify;
        }
    }
}
