
// Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:300|Roboto:300&display=swap');

$roboto: 'Roboto', sans-serif;
$plex: 'IBM Plex Serif', serif;

// Colors

$wallpaper: #F9F8D7;
$primary-color: #4C722E;
$dark-primary-color: #273D18;

$custom-black: #353535;
$custom-white: #FFFFFF;

$team-card-background: #EFECCE;

// Grey




